input,label{
    display: block;
    
}
.randi{
    position:absolute;
    top: 40%;
    left: 50%;
    width:30em;
    height:8em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}
input
{
    height:50px;
    width:400px;
}